/* Fonts */

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora.ttf') format('truetype'),
  }
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond/CormorantGaramond-SemiBold.ttf') format('truetype'),
  }

@font-face {
    font-family: 'Lora Bold';
    src: url('/fonts/Lora-VariableFont_wght.ttf') format('truetype'),
  }
@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Variable.ttf') format('truetype'),
  }
  
/* Variables */

:root {
    --primary-color: #D0AA69;
    --primary-font: Lora Bold;
  }

  /* resrt style  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

a {
    text-decoration: none; 
    color: inherit;
  }

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #fff;
    line-height: 1;
    font-family: var(--primary-font);
    color: #000000;

}

/* Header */

.header{
    margin-bottom: 5px;
    padding: 10px;
    background: var(--primary-color);
}

.header .wropper {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.header .wropper .header-brand{
    display: flex;
    align-items: center;
}

.header .wropper .header-brand .home-icon {
    width: 21px;
    height: 21px;
    margin-right: 6px;
}

.header .wropper .header-brand .home-link{
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.header .wropper .header-brand .home-link:hover {
    color: #fff;
    -webkit-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.99);
    -moz-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.99);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.99);
}

.header .wropper .header-navbar{
    display: flex;
    justify-content: end;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.header .wropper .header-navbar .leng-switch:hover {
    color: #fff;
    -webkit-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.99);
    -moz-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.99);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.99);
}

.header .wropper .header-navbar > li {
    margin: 0 5px;
}

/* Main */

.main{
    background-color: #fff;
}

.main .wropper {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 130px;
    background-image: url(/img/body-background.svg);
    background-repeat: no-repeat;
    background-position: center -258px;
}

.main .wropper .brand-image{
    max-width: 100%;
}

.main .wropper .cart-block {
    position: relative;
    padding-right: 5px;
    width: 100%;
    font-family: Lora;
    font-weight: 400;
    letter-spacing: 0em;
}

.main .wropper .cart-block .cart-total{
    font-size: 14px;
    line-height: 18px;
    text-align: left; 
    margin-right: 5px;   
}

.main .wropper .cart-block .cart-quantity{
    position: absolute;
    top: -5px;
    right: 0px;
}

.main .wropper .category-preview {
    width: 100%;
}

.main .wropper .category-preview .title{
    user-select: none;
    font-size: 40px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    color:var(--primary-color);
}

.main .wropper .category-preview .preview-img{
    max-width: 68%;
    height: auto;
    margin-bottom: 12px;
    border-radius: 50%;
    border: solid 8px var(--primary-color);
}

.main .wropper .category-preview .item{
    margin-top: 25px;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}

.main .wropper .category-preview .item .item-link:hover{
    color: var(--primary-color);
    -webkit-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.10);
    -moz-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.10);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.10);
}

.main .wropper .category-preview .item > li {
    margin-top: 30px;
}

.main .wropper .title-block {
    margin-bottom: 50px;
}

.main .wropper .title-block .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color:var(--primary-color);
}

.main .wropper .title-block .title > span {
    font-size: 70px;
    line-height: 90px;
}

.main .wropper .title-block svg{
    width: 100%;
    max-width: 100%;
}

.main .wropper .title-block svg text {
    text-anchor:middle;
    font: 70px regular;
    fill:var(--primary-color);
    font-weight: 700;
    line-height: 90px;
    font-family: var(--primary-font);
}

.main .wropper .title-block .title-menu{
    margin-top: 25px;
    padding: 0 16px;
    font-family: var(--primary-font);
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.main .wropper .title-block .title-menu::before {
    position: absolute;
    left: -3px;
    top: 50%;
    padding-top: 6px;
    transform: translateY(-50%);
    content: url(/img/moon-icon.svg);
}

.main .wropper .title-block .title-menu::after {
    position: absolute;
    right: -3px;
    top: 50%;
    padding-top: 3px;
    transform: translateY(-50%) rotate(180deg);
    content: url(/img/moon-icon.svg);
}

.main .wropper .title-block .title-menu > li {
    border-right: solid 1px #CBCBCB;
    margin-right: 5px;
    padding-right: 5px;
}

.main .wropper .title-block .title-menu li .menu-link:hover {
    color: var(--primary-color);
    -webkit-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    -moz-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.main .wropper .title-block .title-menu > li:last-child {
    border: none;
    margin: 0;
    padding: 0;
}

.main .wropper .margin-top{
    margin-top: 73px;
}

@media (max-width: 1000px) {
    .main .wropper .title-block .title-menu {
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }
    .main .wropper .title-block .title-menu > li {
        border: none;
    }
}

@media (max-width: 767px) {
    .main .wropper .title-block .title-menu {
        flex-direction: row;
        align-items: center; 
    }
    .main .wropper .title-block .title-menu > li {
        border-right: solid 1px #CBCBCB;
    }
}

@media (max-width: 350px) {
    .main .wropper .title-block .title-menu {
        flex-direction: column;
        align-items: center; 
    }
    .main .wropper .title-block .title-menu > li {
        border: none;
    }
}

/* Footer */

.footer{
    background: var(--primary-color);
}

.footer .wropper{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
}

.footer .wropper .title{
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.footer .wropper .info{
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.footer .wropper .info-link:hover{
    color: #fff;
    -webkit-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.99);
    -moz-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.99);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.99);
}

.footer .wropper .social-link .logo{
    border-radius: 50%;
    max-width: 100%;
}

.footer .wropper .social-link .logo:hover {
    background-color: rgba(254,255,217,1);
    -webkit-box-shadow: 0px 0px 13px 2px rgba(254,255,217,1);
    -moz-box-shadow: 0px 0px 13px 2px rgba(254,255,217,1);
    box-shadow: 0px 0px 13px 2px rgba(254,255,217,1);
}

@media (max-width: 767px) {
    .footer .wropper .col-sm-6 div {
        margin-top: 10px;
        align-items: center !important;
    }
    .footer .wropper .col-sm-6 .info {
        margin-top: 5px;
    }
    /* .footer .wropper .col-sm-6 div img {
        margin-top: 10px;
    } */
    .footer .wropper .logo{
        margin-top: 5px;
    }
}